<div class="container">
   
    <form class="form-horizontal rounded p-2 pb-2" role="form">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="form-group form-inline">
                    <label for="spareBrandFilter_id">Marca</label>
                    <input type="text" class="form-control col" name="brandFilter" id="brandFilter"
                        (ngModelChange)="filterSpare($event)" [ngModel]="filteredSpare">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="spareModelFilter_id">Modelo</label>
                    <input type="string" class="form-control col" name="modelFilter" id="modelFilter"
                        (ngModelChange)="filterSpare($event)" [ngModel]="filteredSpare">
                </div>
            </div>
        </div>
    </form>
  <div class="row">
    <button type="button" class="btn float-right mt-2" routerLink="/spares-form">Agregar</button>
  </div>
    
 
    

    <div *ngFor="let spare of filteredSpares;" class="spare mt-3 ">
        <div class="col-md-4">
            <img src=".. /../../assets/images/radiador.png" alt="Card image cap">
        </div>

        <div class="col-md-4 ">
            <h6><b>Nombre: </b>{{spare.name}}</h6>
            <h6><b>Marca: </b>{{spare.brand}}</h6>
            <h6><b>Modelo: </b>{{spare.model}}</h6>
            <h6><b>Precio: </b>{{spare.price}}</h6>

        </div>

        <div class="col-md-3">
            <div class="mb-2">
                <button type="button" class="btn btn-warning" (click)="editSpare(spare.id)">Modificar</button>
            </div>
            <div class="">
                <button type="button" class="btn btn-danger" (click)="deleteSpare(spare.id)">Quitar</button>
            </div>
        </div>
    </div>
    

</div>