.form-control {
    background-color: #F2F3F4;
    border-radius: 7px;
}
.form-horizontal{
    background-color: #C4C4C4;
}
.form-group{
    margin-left: 130px;
    margin-bottom: 10px;
}
.btn-secondary{
    margin-left: 22cm;
}
.button-1{
    margin-left: 23cm;
    
}
.btn-warning, .btn-danger{
    width: 200px;
}

  .first, .third {
    width:200px;
    border: 0px,0px,0px,0px;
  }
  .second {
    width:300px;
    border: 0px,0px,0px,0px;
    padding: 0px,0px,0px,0px;
  }