<div class="container">
    <div class="search mt-2">
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group form-inline">
                        <label for="spareBrandFilter_id">Marca</label>
                        <input type="text" class="form-control col" name="brandFilter" id="brandFilter"
                            (ngModelChange)="filterSpare($event)" [ngModel]="filteredSpare">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="spareModelFilter_id">Modelo</label>
                        <input type="string" class="form-control col" name="modelFilter" id="modelFilter"
                            (ngModelChange)="filterSpare($event)" [ngModel]="filteredSpare">
                    </div>
                </div>
            </div>
        </form>
        <button type="button" class="btn btn-secondary mt-3" routerLink="/spares-form">Agregar</button>

        <div *ngFor="let spare of filteredSpares;" class="mt-3">
            <div class="first">
                <img src=".. /../../assets/images/radiador.png" alt="Card image cap">
            </div>

            <div class="second">
                <h6><b>Nombre: </b>{{spare.name}}</h6>
                <h6><b>Marca: </b>{{spare.brand}}</h6>
                <h6><b>Modelo: </b>{{spare.model}}</h6>
                <h6><b>Precio: </b>{{spare.price}}</h6>

            </div>
            <div class="third">
                <div class="button-1 mb-2">
                    <button type="button" class="btn btn-warning" (click)="editSpare(spare.id)">Modificar</button>
                </div>
                <div class="button-1">
                    <button type="button" class="btn btn-danger" (click)="deleteSpare(spare.id)">Quitar</button>
                </div>
            </div>
        </div>

    </div>