.form-control {
    background-color: #F2F3F4;
    border-radius: 7px;
}
.form-horizontal{
    background-color: #C4C4C4;
}
.form-group{
    margin-left: 130px;
    margin-bottom: 10px;
}
.btn-secondary{
    margin-left: 22cm;
}