<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vehicle Detail</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img
                                src="https://st.motortrend.com/uploads/sites/5/2017/03/2017-Mazda-CX-5-front-three-quarter-in-motion-1-e1489186309647.jpg" />
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h1 class="product-title">{{car.brand}}</h1>
                    <h4><b>Precio: </b>{{car.price}} $</h4>
                    <h4><b>Modelo: </b>{{car.model}}</h4>
                    <h4><b>Tipo de combustible: </b>{{car.fuelType}}</h4>
                    <h4><b>Cantidad: </b>{{car.amount}}</h4>
                </div>
            </div>
        </div>
    </div>
</body>

</html>