<div class="container">
    <h1>Autos</h1>
    <button type="button" class="btn btn-primary" routerLink="/cars-form">Registrar Auto</button>
    <div class="row col-12 mt-4">
        <div class="card col-6" style="width: 18rem;" *ngFor="let car of cars">
            <div class="card-header">
                Foto
            </div>
            <div class="card-image-body">
                <img class="card-img-body" src="../../../assets/images/suzuki1.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Marca: </strong>{{car.brand}}</p>
                <p class="card-text"><strong>Color: </strong>{{car.color}}</p>
            </div>
            <div class="card-footer">
                <div class="button-1 mb-2">
                    <button type="button" class="btn btn-warning" (click)="editCar(car.id)">Modificar</button>
                </div>
                <div class="button-1">
                    <button type="button" class="btn btn-danger" (click)="deleteCar(car.id)">Quitar</button>
                </div>
            </div>
        </div>
    </div>
</div>